{{ header }}

<div class="container-box-inner">
	
	<!-- Hero Slider start -->
	<div class="hero-slider-box">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="hero-slider hero-slider-two">
						<div class="single-slide" style="background-image: url(image/catalog/slide-1.jpg)">
							<!-- Hero Content One Start -->
							<div class="hero-content-one container">
								<div class="row">
									<div class="col"> 
										<div class="slider-text-info">
											<h1>Bag 1</h1>
											<h1>Street Style</h1>
											<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
											<a href="bags/bags-1" class="btn slider-btn uppercase"><span><i class="fa fa-plus"></i> Shop Now</span></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Hero Content One End -->
						</div>
						<div class="single-slide" style="background-image: url(image/catalog/slide-2.jpg)">
							<!-- Hero Content One Start -->
							<div class="hero-content-one container">
								<div class="row">
									<div class="col"> 
										<div class="slider-text-info">
											<h1>Classic Scarf</h1>
											<h1>Amazing Womens</h1>
											<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
											<a href="bags/bags-2" class="btn slider-btn uppercase"><span><i class="fa fa-plus"></i> SHOP NOW</span></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Hero Content One End -->
						</div>
						<div class="single-slide" style="background-image: url(image/catalog/slide-3.jpg)">
							<!-- Hero Content One Start -->
							<div class="hero-content-one container">
								<div class="row">
									<div class="col"> 
										<div class="slider-text-info">
											<h1>Classic Scarf</h1>
											<h1>Amazing Men's</h1>
											<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
											<a href="bags/bags-3" class="btn slider-btn uppercase"><span><i class="fa fa-plus"></i> SHOP NOW</span></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Hero Content One End -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Our Services Area Start -->
	<div class="our-services-area section-pt-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<!-- single-service-item start -->
					<div class="single-service-item">
						<div class="our-service-icon">
							<i class="fa fa-truck"></i>
						</div>
						<div class="our-service-info">
							<h3>Free Shipping</h3>
							<p>Free shipping on all US order or order above $200</p>
						</div>
					</div>
					<!-- single-service-item end -->
				</div>
				<div class="col-lg-3 col-md-6">
					<!-- single-service-item start -->
					<div class="single-service-item">
						<div class="our-service-icon">
							<i class="fa fa-support"></i>
						</div>
						<div class="our-service-info">
							<h3>Support 24/7</h3>
							<p>Contact us 24 hours a day, 7 days a week</p>
						</div>
					</div>
					<!-- single-service-item end -->
				</div>
				<div class="col-lg-3 col-md-6">
					<!-- single-service-item start -->
					<div class="single-service-item">
						<div class="our-service-icon">
							<i class="fa fa-undo"></i>
						</div>
						<div class="our-service-info">
							<h3>30 Days Return</h3>
							<p>Simply return it within 30 days for an exchange</p>
						</div>
					</div>
					<!-- single-service-item end -->
				</div>
				<div class="col-lg-3 col-md-6">
					<!-- single-service-item start -->
					<div class="single-service-item">
						<div class="our-service-icon">
							<i class="fa fa-credit-card"></i>
						</div>
						<div class="our-service-info">
							<h3>100% Payment Secure</h3>
							<p>We ensure secure payment with PEV</p>
						</div>
					</div>
					<!-- single-service-item end -->
				</div>
			</div>
		</div>
	</div>

	<!-- Banner area start -->
	<div class="banner-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<!-- single-banner start -->
					<div class="single-banner mt--50">
						<a href="bags/"><img src="image/catalog/slide-4.jpg" alt=""></a>
						<h3>Bags</h3>
					</div>
					<!-- single-banner end -->
				</div>
				<div class="col-lg-4 col-md-4">
					<!-- single-banner start -->
					<div class="single-banner mt--50">
						<a href="wallets/"><img src="image/catalog/slide-5.jpg" alt=""></a>
						<h3>Wallets</h3>
					</div>
					<!-- single-banner end -->
				</div>
				<div class="col-lg-4 col-md-4">
					<!-- single-banner start -->
					<div class="single-banner mt--50">
						<a href="scarves/"><img src="image/catalog/slide-6.jpg" alt=""></a>
						<h3>Scarves</h3>
					</div>
					<!-- single-banner end -->
				</div>
			</div>
		</div>
	</div>
	<!-- Banner area end -->

	{{ content_top }}
	
	<!-- Our Brand Area Start -->
	<div class="our-brand-area mb--30">
		<div class="container">
			<div class="row our-brand-active text-center">
				<div class="col-12">
					<div class="single-brand">
						<a href="#"><img src="catalog/view/theme/default/assets/images/brand/1.png" alt=""></a>
					</div>
				</div>
				<div class="col-12">
					<div class="single-brand">
						<a href="#"><img src="catalog/view/theme/default/assets/images/brand/2.png" alt=""></a>
					</div>
				</div>
				<div class="col-12">
					<div class="single-brand">
						<a href="#"><img src="catalog/view/theme/default/assets/images/brand/3.png" alt=""></a>
					</div>
				</div>
				<div class="col-12">
					<div class="single-brand">
						<a href="#"><img src="catalog/view/theme/default/assets/images/brand/4.png" alt=""></a>
					</div>
				</div>
				<div class="col-12">
					<div class="single-brand">
						<a href="#"><img src="catalog/view/theme/default/assets/images/brand/5.png" alt=""></a>
					</div>
				</div>
				<div class="col-12">
					<div class="single-brand">
						<a href="#"><img src="catalog/view/theme/default/assets/images/brand/6.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Our Brand Area End -->
	
</div>

{{ footer }}