<div id="search" class="search-box main-search-active">
    <div class="search-box-inner">
        <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
        <button class="search-btn" type="button"><i class="fa fa-search"></i></button>
	</div>
</div>

