<div class="form form--comment">
	<div class="form__heading">{{ heading_comment }}</div>
	<div class="form__item form__item--comment form-group">
		<textarea name="comment" placeholder="{{ entry_comment }}" id="input-comment" class="form-control">{{ comment }}</textarea>
	</div>
</div>
