<ul class="table__row table__row--totals">
	{% for total in totals %} 
	<li class="table__row-item">
		<span class="table__row-title">{{ total.title }}:</span>
		<span class="table__row-value">{{ total.text }}</span>
	</li>
	{% endfor %} 
</ul>
