// Color variables -->
$primary:             #229ac8;
$secondary:           #ff6f14;

$black:               #000;
$white:               #fff;
$text:                #222;
$error:               #ec3f41;
$success:             #3a7d34;
$green:               #34BB54;
$orange:              #ff6f14;
$hover_orange:        #ea5b00;
$blue:                #032b79;
$shadow:              #dbd6e9;

$grey_heading:        #545454;
$grey_text:           #858585;
$light_grey:          #8C8C8C;
$border_color:        #EBEBEB;  
$border_color_darker: #d2d2d2;
$disabled:            #6c757d;
$icon_grey:           #969696;
$placeholder:         #757575;

$text_grey:           #7e7e7e;

$grey_bg:             #f4f4f4;
$bg_grey:             #f4f4f4;
$bg_dark:             #393939;



////// Font variables ---> //////
$font-size--base: 16px;
$font-size__coefficient--xs: .85;
$font-size__coefficient--s:  1;
$font-size__coefficient--m:  1.5;
$font-size__coefficient--l:  1.75;
$font-size__coefficient--xl: 2;

$font-size--xs: round($font-size--base * $font-size__coefficient--xs);
$font-size--s: round($font-size--base * $font-size__coefficient--s);     // 16px
$font-size--m: round($font-size--base * $font-size__coefficient--m);     // 24px
$font-size--l: round($font-size--base * $font-size__coefficient--l);     // 28px
$font-size--xl: round($font-size--base * $font-size__coefficient--xl);   // 40px

$line-height--base: 1.428571429;
$line-height--computed: round($font-size--base * $line-height--base);
$line-height--s: floor($line-height--computed * $font-size__coefficient--s);    // 23px
$line-height--m: floor($line-height--computed * $font-size__coefficient--m);    // 35px
$line-height--l: floor($line-height--computed * $font-size__coefficient--l);    // 35px
$line-height--xl: floor($line-height--computed * $font-size__coefficient--xl);  // 55px

$normal-letter-spacing: normal;

// Primary font
$font-family__primary: 'Roboto', sans-serif;
$font-weight__primary__regular: 400;
$font-weight__primary__normal: 500;
$font-weight__primary__bold: 700;

// Secondary font
$font-family__secondary: "Oswald", sans-serif;
$font-weight__secondary__regular: 300;
$font-weight__secondary__normal: 600;
$font-weight__secondary__bold: 700;



