// Cart layout -->
.cart {

    input[type=checkbox],
    input[type=radio] {
        cursor: pointer;
    }

    &__totals {
        display: flex;
        justify-content: space-between;
    }

    &__modules {
        flex: 0 0 75%;
        max-width: 75%;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }

    &__total {
        flex: 0 0 25%;
        max-width: 25%;
        margin-bottom: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__customer {

        &.active {
            max-height: 58.8px;
            overflow: hidden;

            &.has-error {
                max-height: 78.8px;
            }
        }
    }

    &__details {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    &__shipping,
    &__payment {
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }

    &__payment {
        display: flex;
        flex-direction: column;
    }

    &__comment {
        margin-top: 2rem;
        flex: 1;
    }

    &__buttons {
        display: flex;
        margin: 2rem 0;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        label {
            font-size: 14px;
            cursor: pointer;
        }

        a {
            margin: 0 .5rem;
        }

        input[type=checkbox] {
            margin-top: 0;
            margin-right: 2rem;
            cursor: pointer;
        }

        .btn__primary {
            min-width: 185px;

            & + span {
                position: absolute;
                bottom: -1.5rem;
                color: $error;
                font-size: 14px;
            }
        }
    }

    &__paypal {

        .paypal-button {
            width: 185px;
        }
    }
}

// Cart product table -->
.table {
    $table: &;

    // cart table (cart page, cart header)-->
    &--cart {

        #{$table}__head {
            border-bottom: 0;

            &-item {

                &--remove {
                    flex: 0 0 8.333333%;
                    max-width: 8.333333%;
                }

                &--image {
                    flex: 0 0 8.333333%;
                    max-width: 8.333333%;
                }

                &--name {
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                }

                &--price {
                    flex: 0 0 16.666667%;
                    max-width: 16.666667%;
                }

                &--quantity {
                    flex: 0 0 16.666667%;
                    max-width: 16.666667%;
                }

                &--total {
                    flex: 0 0 16.666667%;
                    max-width: 16.666667%;
                }

                @include media("<=tablet") {

                    &--remove {
                        flex: 0 0 40px;
                        max-width: 40px;
                        margin-left: auto;
                    }

                    &--price,
                    &--total {
                        flex: 1;
                        max-width: none;
                    }
                }

                @include media("<=500px") {
                    display: none;
                }
            }
        }

        #{$table}__content {
            flex-direction: row;
            flex-wrap: wrap;
        }

        #{$table}__row {

            &-item {

                &--image {
                    a {
                        display: flex;
                    }
                }

                &--name {
                    padding-right: 0;
                    height: 100%;
                    align-items: center;

                    a {
                        padding-left: 0;
                        text-align: left;
                    }

                    .stock {
                        position: absolute;
                        white-space: nowrap;
                        font-size: 11px;
                        bottom: 0;
                        left: 0;
                        color: $error;
                        transition: all .3s ease;

                        &--hide {
                            opacity: 0;
                            transition: all .3s ease;
                        }
                    }
                }

                &--total {
                    justify-content: center;
                    font-weight: 600;
                }

                &--remove {
                    a::before {
                        margin-right: 0;
                    }
                }

                @include media("<desktop") {

                    &--name {

                        .stock {
                            bottom: -.5rem;
                            left: 1rem;
                        }
                    }
                }

                @include media("<=tablet") {

                    &--total,
                    &--price {
                        flex: 1;
                        max-width: none;
                    }

                    &--remove {
                        flex: 0 0 40px;
                        max-width: 40px;
                        margin-left: auto;
                    }
                }

                @include media("<=600px") {

                    &--name {

                        a {
                            font-size: 13px;
                        }
                    }

                    &--price,
                    &--total {
                        font-size: 13px;
                    }

                    &--image {
                        img {
                            padding: 5px;
                        }
                    }
                }

                @include media("<=500px") {

                    &--image {
                        flex: 0 0 59px;
                        max-width: 59px;
                        margin-bottom: 1.3rem;
                    }

                    &--name {
                        flex: 0 0 calc(100% - 59px);
                        max-width: calc(100% - 59px);
                        height: 59px;
                        align-items: center;
                        align-self: flex-start;

                        a {
                            font-size: 1rem;
                        }

                        .stock {
                            left: -60px;
                            bottom: -15px;
                        }
                    }

                    &--price {
                        justify-content: flex-start;
                    }

                    &--price,
                    &--total {
                        font-size: 1rem;
                    }

                    &--total,
                    &--remove {
                        justify-content: flex-end;
                    }
                }

                @include media("<=376px") {

                    &--name {

                        .stock {
                            font-size: 10px;
                        }
                    }

                    &--price,
                    &--total {
                        font-size: 14px;
                    }

                    &--remove {
                        flex: 1;
                        flex: 0 0 30px;
                        max-width: 30px;
                    }
                }
            }

            &--promocode {
                display: flex;
                justify-content: flex-start;
                border-bottom: 0;
            }

            &--totals {
                flex-direction: column;
                padding: 0;
                border-bottom: 0;

                #{$table}__row{

                    &-item {
                        display: flex;
                        justify-content: flex-end;
                        line-height: 1;
                        padding: .5rem 0;
                        font-size: 1rem;
                        min-width: 100%;
            
                        span {
                            padding: 0 1rem;

                            &:last-child {
                                font-weight: 500;
                            }
                        }

                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }

            @include media("<=tablet") {
   
                &--totals {
                    flex: 0 0 50%;
                    max-width: 50%;
    
                    #{$table}__row {
                
                        &-value {
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
    
                        &-title {
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                    }
                }

                &--promocode {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }

            @include media("<700px") {

                &--totals {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-bottom: 0;
                    padding-top: 1.5rem;
                }

                &--promocode {
                    flex: 0 0 100%;
                    max-width: 100%;
                    justify-content: flex-end;
                    padding-top: 1.5rem;
                    padding-bottom: 0;

                    .form__heading {
                        text-align: right;
                    }
                }
            }
        }

        #{$table}__buttons {
            display: flex;
            min-width: 100%;
            padding: .5rem 0;
            justify-content: space-between;
        }
    }
}

// Cart form blocks -->
.form {
    $form: &;

    // Cart promocode -->
    &--promocode {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 1rem;

        #{$form}__heading {
            color:  $grey_text;
            font-size: 14px;
            margin-bottom: .3rem;
        }

        #{$form}__item {
            flex-wrap: wrap;

            &-input {
                flex: 1;
            }
        }

        #{$form}__submit {
            flex: 1;
            max-width: min-content;
            padding: 0 .5rem;
            height: 34px;
            margin-left: .5rem;

            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
    }

    // Cart choose customer -->
    &--choose {

        #{$form}__heading {
            justify-content: center;
            display: flex;
            margin-bottom: 2rem;
        }

        #{$form}__row {

            &--radio {
                display: flex;
                justify-content: center;
                margin-bottom: 2rem;

                label {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    cursor: pointer;
                    padding: 0 1rem;
                }

                input {
                    margin-top: 0;
                    margin-right: .5rem;                
                }
            }
        }
    }

    &--customer,
    &--shipping,
    &--payment,
    &--comment {

        #{$form}__heading {
            display: flex;
            min-width: 100%;
            background-color: $grey_bg;
            color: $text;
            letter-spacing: .7px;
            font-size: 13px;
            padding: .5rem 0 .5rem;
            font-weight: 500;
            margin-bottom: 0;
            justify-content: center;
            text-align: center;
        }

        #{$form}__wrapper {
            border: 1px solid $border_color;
            padding: 1rem;
        }

        #{$form}__row {
            display: flex;

            &--radio {
                flex-direction: column;

                #{$form}__item {
                    margin: 0;
                    padding-top: 0;

                    label {
                        padding: .25rem 0;
                        font-size: 14px;
    
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }

        #{$form}__item {
            flex-direction: column;
            flex: 1;
            margin: 0 1rem;
            justify-content: flex-start;

            label {
                color: $grey_text;
                font-size: 14px;
                margin-bottom: .3rem;

                &:before {
                    min-width: 10px;
                    display: inline-flex;
                    content: '* ';
                    color: $error;
                    font-weight: bold;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &--customer {

        #{$form}__wrapper {
            border: 0;
            padding: 0
        }
    }

    &--shipping {

        #{$form}__row {

            &--radio {
                flex-direction: column;
                margin-bottom: 0;

                label {
                    padding: .25rem 0;
                    font-size: 14px;
                }
            }

            &--address {
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        #{$form}__item {
            margin: 0 .5rem;
            padding-top: 1rem;

            &:not(.required) {

                label {
    
                    &:before {
                        display: none;
                    }
                }
            }

            &:nth-of-type(2) {
                margin-right: 0;
            }

            &:nth-of-type(3) {
                margin-left: 0;
            }

            &--country,
            &--zone {
                position: relative;
                flex: 0 0 calc(50% - .5rem);
                max-width: calc(50% - .5rem);

                .fa-spin {
                    position: absolute;
                    bottom: 11px;
                    left: 50%;
                }
            }
        }
    }

    &--payment {

        #{$form}__row {
            margin-bottom: 0;

            &:last-child {
            
                #{$form}__item {
                    padding-top: 0;
                }
            }
        }
    }

    &--comment {
        min-height: 100%;

        #{$form}__item {
            margin-left: 0;

            textarea {
                flex: 1;
                border: 1px solid $border_color;
                border-top: 0;
                border-radius: 1px;
                font-size: 1rem;
            }
        }
    }
}