.product {

    &__row {
        display: flex;
        flex: 0 0 100%;
        min-width: 100%;
        margin: 0 -1rem;
        flex-wrap: wrap;

        &--info {
            display: flex;
        }
    
        &--description {
            min-width: 100%;
            flex-direction: column;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 1rem;

        @include media("<tablet") {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &--tabs {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    &__image {
        display: flex;
        height: 100%;
        margin-left: 0;
        justify-content: center;
        align-items: center;

        &-item {
            margin-left: 0;
        }
    }

    &__buttons {
        margin: 1rem 0;

        #paypal_smart_button {
            display: none;
        }

        &--cart {
            display: flex;
            align-items: center;

            label {
                margin-bottom: 0;
            }

            input {
                max-width: 50px;
                text-align: center;
                margin: 0 2rem;
            }

            button {
                margin-left: auto;
            }
        }
    }
}